<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day <%=day%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/day/<%= day - 1 %>">
            <button class="nav-button">전날</button>
        </a>
        <div class="logo">Day <%= day %></div>
        <a href="/day/1">
            <button class="nav-button">다음날</button>
        </a>
    </div>
    <h4>
        <table>
            <tr>
                <th class="t">시간</th>
                <th class="p">일정</th>
            </tr>
            <tr>
                <td class="t">약 12분 소요</td>
                <td class="p">베스트웨스턴=>뿌꾸옥 공항</td>
            </tr>
            <tr>
                <td class="t">15:20~22:25<br>(5시간 5분)</td>
                <td class="p">KE484 뿌꾸옥=>인천</td>
            </tr>
        </table>
</body>
</html>