<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day <%=day%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/day/10">
            <button class="nav-button">전날</button>
        </a>
        <div class="logo">Day <%= day %></div>
        <a href="/day/<%= day + 1 %>">
            <button class="nav-button">다음날</button>
        </a>
    </div>
    <h4>
        <table>
            <tr>
                <th class="t">시간</th>
                <th class="p">일정</th>
            </tr>
            <tr>
                <td class="t">06:30</td>
                <td class="p">기상</td>
            </tr>
            <tr>
                <td class="t">07:30</td>
                <td class="p">집에서 DMC역으로 출발</td>
            </tr>
            <tr>
                <td class="t">07:45~<br>08:33</td>
                <td class="p">공항철도타고 DMC역=>인천공항 제1터미널 이동</td>
            </tr>
            <tr>
                <td class="t">12:35~<br>
                    18:20
                    </td>
                <td class="p">SQ611(6h 45min)
                    인천=>싱가포르
                    </td>
            </tr>
            <tr>
                <td class="t">18:45<br>
                    19:39
                    </td>
                <td class="p">36버스 타고 
                    숙소 이동
                    </td>
            </tr>
        </table>  
    </h4>
</body>
</html>