<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day <%=day%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/day/<%= day - 1 %>">
            <button class="nav-button">전날</button>
        </a>
        <div class="logo">Day <%= day %></div>
        <a href="/day/<%= day + 1 %>">
            <button class="nav-button">다음날</button>
        </a>
    </div>
    <h4>
        <table>
            <tr>
                <th class="t">시간</th>
                <th class="p">일정</th>
            </tr>
            <tr>
                <td class="t">아침식사</td>
                <td class="p">YY CAFEI DIAN</td>
            </tr>
            <tr>
                <td class="t">아침~점심</td>
                <td class="p">루지</td>
            </tr>
            <tr>
                <td class="t">점심식사</td>
                <td class="p">Da Shi Jia(대식가)</td>
            </tr>
            <tr>
                <td class="t">점심~저녁</td>
                <td class="p">마리나베이 근처 관광</td>
            </tr>
            <tr>
                <td class="t">저녁식사</td>
                <td class="p">사태거리</td>
            </tr>
        </table>
    </h4>
</body>
</html>