<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day <%=day%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/day/<%= day - 1 %>">
            <button class="nav-button">전날</button>
        </a>
        <div class="logo">Day <%= day %></div>
        <a href="/day/<%= day + 1 %>">
            <button class="nav-button">다음날</button>
        </a>
    </div>
    <h4>
        <table>
            <tr>
                <th class="t">시간</th>
                <th class="p">일정</th>
            </tr>
            <tr>
                <td class="t">09:30 출발</td>
                <td class="p">ymca=>창이공항 3터미널널</td>
            </tr>
            <tr>
                <td class="t">13:15~<br>14:30</td>
                <td class="p">VN650 싱가포르=>호찌민</td>
            </tr>
            <tr>
                <td class="t">약 40분 소요</td>
                <td class="p">호찌민국제공항=>리버게이트 레시던스</td>
            </tr>
        </table>
    </h4>
</body>
</html>