<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day <%=day%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/day/<%= day - 1 %>">
            <button class="nav-button">전날</button>
        </a>
        <div class="logo">Day <%= day %></div>
        <a href="/day/<%= day + 1 %>">
            <button class="nav-button">다음날</button>
        </a>
    </div>
    <h4>
        <table>
            <tr>
                <th class="t">시간</th>
                <th class="p">일정</th>
            </tr>
            <tr>
                <td class="t">??:??</td>
                <td class="p">리버게이트 레시던스=>호찌민 국제공항</td>
            </tr>
            <tr>
                <td class="t">13:30~<br>14:20</td>
                <td class="p">VN1827 호찌민=>뿌꾸옥</td>
            </tr>
            <tr>
                <td class="t">차로 약 12분</td>
                <td class="p">뿌꾸옥 공항=>베스트웨스턴</td>
            </tr>
        </table>
    </h4>
</body>
</html>