
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-button:hover {
    background-color: #0056b3;
}

h4 {
    margin-top: 20px;
    margin-left: 10vw;
}

table{ border-collapse : collapse; }  /*이중선 제거*/
th,td{
     height: 50px;
     text-align: center;
     border: 1px solid #000;
     
     vertical-align: top;	/* 위 */
     vertical-align: bottom;   /* 아래 */
     vertical-align: middle;   /* 가운데 */
   }
th.t {width: 20vw;}
th.p {width: 60vw;}